In [1]:
#To write a program to print numbers from 1 to 10, but stop if the number is 5
for i in range(1,11):
    print(i)
    if i == 5:
     break

1
2
3
4
5

In [2]:
#To write a program to iterate through a list and stop when encountering a specific element
_list= ['apple',4,'banana',76,'kite','zoo',87]
for _list in _list:
    print(_list)
    if _list == 'kite':
        break

apple
4
banana
76
kite

In [3]:
#To write a program to skip printing even numbers from 1 to 10
for i in range(1,10):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

In [4]:
#To write a program to print numbers from 0 to 9 using range()
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
#To write a program to print multiplication tables from  to 5, but stop after the first table is printed for each number
for i in range(0, 11):
    print('Multiplication table of',i)
    for j in range(0, 11):
        num = i * j
        print(i,' * ',j, ' = ',num)
        if i == j:
         break
    print()

Multiplication table of 0
0  *  0  =  0

Multiplication table of 1
1  *  0  =  0
1  *  1  =  1

Multiplication table of 2
2  *  0  =  0
2  *  1  =  2
2  *  2  =  4

Multiplication table of 3
3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9

Multiplication table of 4
4  *  0  =  0
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16

Multiplication table of 5
5  *  0  =  0
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25

Multiplication table of 6
6  *  0  =  0
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36

Multiplication table of 7
7  *  0  =  0
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49

Multiplication table of 8
8  *  0  =  0
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64

Multiplication table of 9
9  *  0  =  0
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

Multiplication table of 10
10  *  0  =  0
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

In [6]:
#To write a program to skip printing even numbers using a while loop
n = 0
while n < 10:
    n += 1
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9